body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  size: 100%;
}
nav {
  opacity: 100%;
  margin: 0 30%;
  text-align: center;
  height: 100%;
  margin: 0 auto;
  padding: 3rem 0rem;
  margin-bottom: 3%;
  box-shadow: 0px 5px 30px #d9d9d9, 0px 0px 0px #ffffff;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0 2%;
  font-weight: bold;
  font-size: 1.7rem;
  text-transform: uppercase;
}
nav a:hover {
  color: #bd0000;
  transition: 0.13s;
  opacity: 0.7;
}
.section1 {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
  margin: 0 25% 3% 25%;
}
.bike_img{
  margin: 0 auto;
  object-fit: cover;
  height: 31rem;
  width: 100%;
}
.section1 div h1 {
  font-size: 2.5rem;
  text-align: end;

}
.section1 div p {
  font-size: 1.2rem;
  text-align: end;
}
.bottom{
  background-color: rgb(32, 32, 32);
 
  padding: auto;
}
.bottom form{
  padding: 4rem 0 5rem 0;
  display: grid;
  margin: 0 33%;
  grid-template-columns: 1fr;
}
.bottom form input {
  margin: 1rem auto 3rem auto;
  width: 100%;
  height: 5rem;
  padding: .5rem 6rem .5rem 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
} 
.bottom form input:hover {
  background-color: rgb(206, 206, 206);
  transition: 0.3s;
}

.bottom form label {
  font-size: 2rem;
  color: white;
  margin: 0;
} 
.bottom h2 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d82727;
  padding: 13px 5px 13px 5px;
}
.bottom form button {
  height: 5rem;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #d82727;
  border: none;
  outline: none;
}
.bottom form button:hover {
  background-color: white;
  color: #d82727;
  transition-duration: 0.3s;
}
@media (max-width:1150px) {
  .section1 div h1 {
    font-size: 2rem;
  }
  .bike_img{
    height: 70%;
  }
  .section1 div p {
    font-size: 1rem;
  }
  .bottom h2{
    font-size: 2.1rem;
  }
  .bottom form{
    margin: 0 30%;
  }
}
@media (max-width:870px) {
  .section1 div h1 {
    font-size: 1.7rem;
  }
  .section1 div p {
    font-size: .7rem;
  }
  .bottom form{
    margin: 0 25%;
  }
  .bottom h2{
    font-size: 1.3rem;
  }
  nav a {
    font-size: 1.3rem;
  }
}
@media (max-width:700px) {
  .section1{
    display: grid;
    grid-template-columns: 1fr;
  }
  .section1 div h1 {
    text-align: center;
    font-size: 2.3rem;
    padding: 1.5rem 0;
  }
  .section1 div p {
    text-align: center;
    font-size: 1.5rem;
  }
}



/*   
  align-items: center;
  align-self: center;
  align-content: center ;
  justify-content: center;
  justify-items: center;
  justify-self: center;
*/
  